@model PostCreateViewModel

<div class="row">
    <div class="col-12">
        <h1>Create Post</h1>
        <form action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Başlık</label>
                <input asp-for="Title" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="form-label">Content</label>
                <textarea asp-for="Content" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="Url" class="form-label">Url</label>
                <input asp-for="Url" class="form-control"></input>
            </div>
            <div class="mb-3">
                <label asp-for="PostImage" class="form-label">Post Image</label>
                <input asp-for="PostImage" class="form-control" type="file">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.5.1/tinymce.min.js" integrity="sha512-8+JNyduy8cg+AUuQiuxKD2W7277rkqjlmEE/Po60jKpCXzc+EYwyVB8o3CnlTGf98+ElVPaOBWyme/8jJqseMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: '#Content',

        });
    </script>
}
