@page

@model StoreApp.Web.Pages.CompletedModel
<div class="text-center">
    <h1>Teşekkür ederiz</h1>
    <p>@Model.OrderId numaralı Siparişiniz oluşturuldu</p>
    <p>Siparişiniz en kısa sürede kargoya verilecektir.</p>
    <a asp-page="/Index" class="btn btn-primary">Anasayfaya Dön</a>
</div>


