@model BlogApp.Models.RegisterViewModel

<div class="row">
    <div class="col-12">
        <div class="bg-white p-4">
            <h1>Register</h1>
            <form action="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">UserName</label>
                    <input asp-for="UserName" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" type="password">
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <div class="mt-3">
                <p>Eğer hesabınız varsa <a href="/Users/Login">giriş yapın</a>.</p>
            </div>
        </div>
    </div>
</div>