@model LoginViewModel

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <div class="mb-3 d-flex">
        <input type="submit" value="Login" class="btn btn-primary me-2" />
        <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-warning">Forgot Password</a>
    </div>

    <div class="mb-3">
        <p>Hesabınız yoksa <a asp-controller="Account" asp-action="Create">kayıt olun</a>.</p>
    </div>
</form>