@model UserInfo

@{
    ViewBag.Title = "Başvuru Detayları";
}

<main>
    <h1 class="h4">Başvuru Detayı</h1>
    <p>İsim: @Model.Name</p>
    <p>E-Mail: @Model.Email</p>
    <p>Telefon: @Model.Phone</p>

</main>